a:link {
	color: #FFFFFF;
; border: B1C9D0
; text-decoration: none
; font-family: Tahoma; font-size: 10px
}
a:visited {
	color: #999999;
	text-decoration: none;
; border: B1C9D0
}
a:hover {
	color: #FFFFFF;
; border: B1C9D0
; text-decoration: underline
; font-family: Tahoma; font-size: 10px
}
a:active {
	color: #999999;
	text-decoration: none;
; border: B1C9D0
}
.text1 { font-family: Tahoma; font-size: 10px; font-weight: normal; color: 636363; ; font-style: normal; line-height: normal; font-variant: normal}
.head { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: 3B6B94; ; font-style: normal; line-height: normal; font-variant: normal ; word-spacing: 1px; letter-spacing: 1px}
.news { font-family: Tahoma; font-size: 11px; font-weight: bold; color: 59606A; ; font-style: normal; line-height: normal; font-variant: normal }
.head2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: 919191; ; font-style: normal; line-height: normal; word-spacing: 1px; letter-spacing: 1px }
